# Virtual Environment
fastapienv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db